<!-- 不蒜子访问统计 -->
<div class="mobile-hidden" style="margin-top:8px">
  <span class="octicon octicon-pulse"></span>
  <span id="busuanzi_container_site_pv" style="display:none">
    本站访问量 <span id="busuanzi_value_site_pv"></span> 次&nbsp;&nbsp;&nbsp;&nbsp;
  </span>
  <span class="octicon octicon-person"></span>
  <span id="busuanzi_container_site_uv" style="display:none">
    本站访客数 <span id="busuanzi_value_site_uv"></span> 人&nbsp;&nbsp;&nbsp;&nbsp;
  </span>
  <!-- <span id="busuanzi_container_page_pv" style="display:none">
    / 本页访问量 <span id="busuanzi_value_page_pv"></span> 次
  </span> -->
  {% if site.components.busuanzi.start_date %}
  <span class="octicon octicon-calendar"></span> 统计始于
  <span>{{ site.components.busuanzi.start_date | date: "%Y-%m-%d"}}</span>
  {% endif %}
</div>